<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/static/css/output.min.css'>
    <title>Fordyce Photos</title>
  </head>
  <body class="font-mono">
    <div class="text-center">
      <p class="mt-2 mb-2">jack fordyce</p>
      <span class="">
        <button class="py-1 px-4 rounded-none bg-blue hover:bg-light-blue" onclick="changeTab('film', 'film_button')" type="button" id="film_button">Film</button>
        <button class="py-1 px-4 rounded-none bg-blue hover:bg-light-blue" onclick="changeTab('iphone', 'iphone_button')" type="button" id="iphone_button">iPhone</button>
      </span>
    </div>
    <div class="flex flex-col justify-center mt-2">
      <div class="flex justify-center">
        <div class="w-3/4">
          {{range .FilmPaths}}
              <img class="mt-2 mb-2" src="/static/img/film/{{.}}">
          {{end}}
        </div>
        <div class="w-3/4">
          {{range .IphonePaths}}
              <img class="mt-2 mb-2" src="/static/img/iphone/{{.}}">
          {{end}}
        </div>
      </div>
    </div>
  </body>
</html>
