<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/static/css/output.min.css'>
    <title>Fordyce Photos</title>
  </head>
  <body>
    <div class="text-center">
      <p>jack fordyce</p>
      <span class="center">
        <button onclick="changeTab('film', 'film_button')" type="button" id="film_button">Film</button>
        <button onclick="changeTab('iphone', 'iphone_button')" type="button" id="iphone_button">iPhone</button>
      </span>
    </div>
    <div class="">
      {{range .Paths}}
        <img src="/static/img/{{.}}">
      {{end}}
    </div>
  </body>
</html>
