<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fordyce Photos</title>
  </head>
  <body>
    <div class="loader">
    </div>
    <div>
      <h5 id=header> jack fordyce </h5>
    </div>
    <span class="center">
      <button onclick="changeTab('film', 'film_button')" type="button" id="film_button">Film</button>
      <button onclick="changeTab('iphone', 'iphone_button')" type="button" id="iphone_button">iPhone</button>
    </span>
    <div>
      {{range .Paths}}
        <img>{{.}}</p>
        <img class="" src="/static/img/{{.}}">
      {{end}}
    </div>
  </body>
</html>
